.footer {
    background-color: rgba(1, 26, 1,0.7);
    padding: 20px; 
    text-align: center;
    color: white;
}

.contact-container {
    display: flex; /* Use flexbox for layout */
    justify-content: space-between; /* Space out the product, company, and resources */
    align-items: flex-start; /* Align items to the start */
    margin-bottom: 20px; /* Space between sections */
}

.contact-container div {
    flex: 1; /* Allow each section to take equal width */
    margin: 0 10px; /* Add horizontal spacing between sections */
}

.contact-container h2 {
    font-size: 25px; /* Adjust heading size */
    font-weight: medium;
    margin-bottom: 10px; /* Space below the heading */
}

.contact-container ul { 
    list-style-type: none;
    padding: 0; /* Remove default padding */
    margin: 0; /* Remove default margin */
    display: flex;
    flex-direction: column;
}

.contact-container ul li {
    margin: 5px 0; /* Space between list items */
}

.footer p {
    margin: 5px 0; /* Space between paragraphs */
    display: flex;
    flex-direction: column;
}

.footer ul {
    list-style-type: none; /* Remove bullet points */
    padding: 0; /* Remove default padding */
    margin: 10px 0 0; /* Space above the terms and privacy policy */
    display: flex; /* Use flexbox for layout */
    justify-content: center; /* Center terms and privacy policy */

}

.footer ul li {
    cursor: pointer; /* Change cursor to indicate clickable items */
    display: flex;
    flex-direction: column;
    list-style:none;
    display: inline-block;
    margin-left:20px ;
}

.footer ul li:hover {
    text-decoration: underline; /* Underline on hover for clarity */
}

.footer1{
    margin: 0px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #797979;
    padding: 15px 0;
    margin-top: 20px;
}

.footer1 ul li{
    list-style:none;
    display: inline-block;
    margin-left:20px ;
}